@import url('https://fonts.googleapis.com/css2family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap');
/* ------- HEADER ----------------------------------------------------------------------*/
#mainHeader {
  background-color: #232628;
  color: #ECEFF3;
  font-family: 'open-sans', sans-serif;
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
#mainHeader h1 {
  font-size: 2em;
  display: flex;
  align-items: center;
  height: 40px;
  margin: 20;
}
.headerTitle {
  font-size: 15px;
}
#headerPhone {
  font-size: 26px;
  color: #ECEFF3;
}
.headerContent {
  color: #ECEFF3;
  font-size: 14px;
  font-weight: lighter;
}
#links {
  align-items: center;
  padding: 20px 0 0 0;
}
#mainHeader input {
  border-radius: 20px;
}
/* ------- NAV -------------------------------------------------------------------------*/
#mainNav ul {
  background-color: white;
  list-style: none;
  margin: 0;
  opacity: 0.9;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
}
#mainNav a {
  text-decoration: none;
  display: block;
  font-weight: bold;
  color: #000000;
  padding: 20px 20px 20px 20px;
}
#mainNav a:visited, a:hover {
  color: #000000;
}
#actualPage {
  background-color: #CC6119;
  color: #FFFFFF;
}
#page {
  font-size: 16px;
  color: #FFFFFF;
}
/* ------- NAV -------------------------------------------------------------------------*/
/* ------- HEADER ----------------------------------------------------------------------*/
#bandVente {
  background: url("images/vente-location.jpg")center center / cover no-repeat fixed;
  background-position: top;
  padding: 100px 20px;
  /*min-height: 100vh;*/
}
h1 {
  font-family: "open-sans", sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
span {
  color: #CC6119;
  font-size: 0.7em;
  font-weight: bold;
}
#contactPage {
  background-color: #DEE7EC;
}
/* ------- CONTACT FORM ----------------------------------------------------------------*/
form input, textarea {
  background-color: #DEE7EC;
  color: grey;
  border: none;
  width: 250px;
  margin: 10px 30px 30px 0;
  padding: 20px 50px;
}
form {
  background-color: white;
  display: grid;
  grid-auto-rows: 3;
  margin: 50px;
  padding: 30px;
  border: hidden 50px rgba(0, 0, 0, 0.00);
}
table {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, (1fr));
  grid-area: center;
}
form textarea {
  height: 150px;
  width: 300px;
  resize: none;
}
form button {
  background-color: cornflowerblue;
  color: white;
  width: 300px;
  padding: 20px;
  border: none;
  border-radius: 5px;
}
#submit {
    margin: 15vh;
    font-size: 24px;
    border: solid 2px grey;
    padding: 100px;
    border-radius: 15px;
}
/* ------- CONTACT FORM ----------------------------------------------------------------*/
/* ------- FOOTER ----------------------------------------------------------------------*/
footer {
  color: #ECEFF3;
  background-color: #232628;
  width: 100%;
  padding: 50px 10px 10px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
footer div {
  flex-basis: 20%;
  align-content: center;
  align-items: flex-start;
}
#copyright {
  flex-basis: 100%;
  margin-top: 40px;
}
footer #club {
  color: #6C98E1;
  font-size: 16px;
}
footer .date {
  color: grey;
  font-size: 16px;
}
footer h2 {
  font-size: 16px;
}
footer p {
  margin: 2px 0px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}
#outro p {
  color: grey;
}
#newsletter {
  height: 35px;
}
.newsletter p {
  color: grey;
}
#rss {
  vertical-align: middle;
}
#email {
  height: 30px;
  margin: 0;
}
#copyright {
  color: grey;
  background-color: #232628;
  height: 40px;
  width: 100%;
  font-size: 1em;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px grey;
}
#email::placeholder {
  background-color: white;
  color: grey;
}
/* ------- FOOTER ----------------------------------------------------------------------*/